.footer-modal {
  text-align: center;
  @include desktop {
    text-align: start;
  }
}

.footer-label__text {
  color: var(--prinary-white-color);
  display: block;
  margin-bottom: 20px;
}

.footer-label__input {
  width: 100%;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent-text-color);
  }
}

.form-wrap {
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @include desktop {
    flex-direction: row;
  }
}

.footer-btn {
  width: 200px;
  padding: 0;
  align-items: center;
  &__icon {
    vertical-align: middle;
    margin-left: 10px;
    fill: var(--prinary-white-color);
  }
}
