.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    & .modal {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--prinary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  &__close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-text-color);
    }
  }
  &__title {
    @include font(700, 20, 1.15, 0.03);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
  }
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  @include font(400, 12, 1.17, 0.01);
  color: var(--primary-text-color);
  &__text {
    display: block;
    margin-bottom: 4px;
  }
  &__wrap {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @include font(null, 12, 1.17, 0.01);
    color: var(--prinary-black-color);
    padding-left: 42px;
    padding-right: 16px;
    outline: transparent;
    transition: border 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid var(--accent-text-color);
    }
  }
  &__icon {
    fill: var(--title-text-color);
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
    transition: border 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid var(--accent-text-color);
    }
    &::placeholder {
      @include font(400, 12, 1.17, 0.01);
      color: rgba(117, 117, 117, 0.5);
    }
  }
  &__check-link {
    color: var(--accent-text-color);
    margin-left: 3px;
  }
  &__check-text {
    @include font(400, 14, 1.71, 0.03);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    & span {
      width: 16px;
      height: 15px;
      border: 2px solid var(--title-text-color);
      border-radius: 2px;
      margin-right: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: transparent;
    }
  }
}

.modal-label__input:focus + .modal-label__icon {
  fill: var(--accent-text-color);
}

.modal-label__check:checked + .modal-label__check-text span {
  background-color: var(--accent-text-color);
  border-color: transparent;
  fill: var(--prinary-white-color);
}

.modal-label__check:focus + .modal-label__check-text span {
  border-color: var(--accent-text-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  &:hover,
  &:focus {
    background-color: var(--btn-active-color);
  }
}
