:root {
  --primary-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --prinary-white-color: #ffffff;
  --prinary-black-color: #000000;
  --hero-background-color: #c4c4c4;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --btn-active-color: #188ce8;
  --border-color: #ececec;
  --border-portf-color: #eee;
  --icons-color: #afb1b8;
  --icons-footer: rgba(255, 255, 255, 0.1);
}
