.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  &__member {
    width: 100%;
    height: 92px;
    @include mobile {
      @include calc(2, 30px);
    }
    @include tablet {
      @include calc(3, 30px);
    }
    @include desktop {
      @include calc(6, 30px);
    }
  }
  &__logo {
    width: 100%;
    height: 100%;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-text-color);
    }
  }
  &__icon {
    fill: var(--icons-color);
  }
}

.clients-list__logo .clients-list__icon {
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__logo:hover .clients-list__icon,
.clients-list__logo:focus .clients-list__icon {
  fill: var(--accent-text-color);
}
