.footer-section {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    row-gap: 60px;
    column-gap: 165px;
  }
  @include desktop {
    gap: 93px;
    justify-content: space-between;
    text-align: start;
  }
}

.footer-box {
  text-align: center;
  @include desktop {
    text-align: start;
  }
  &__join {
    color: var(--prinary-white-color);
  }
}

.footer-logo {
  color: var(--prinary-white-color);
}

.adress {
  margin-top: 20px;
  &__location {
    @include font(null, 14, 1.71, 0.03);
    color: var(--prinary-white-color);
    margin-bottom: 9px;
  }
  &__email {
    margin-bottom: 9px;
    display: inline-block;
  }
  &__email,
  &__tel {
    @include font(null, 14, 1.71, 0.03);
    color: var(--second-text-color);
  }
}

.social-list-footer {
  padding-top: 20px;
  gap: 10px;
  &__link {
    fill: var(--prinary-white-color);
    background-color: var(--icons-footer);
    // margin-right: 10px;
  }
}
