.header-container {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  @include tablet {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  &__logo {
    @include tablet {
      margin-right: 88px;
    }
    @include desktop {
      margin-right: 93pxpx;
    }
  }
}

.site-nav {
  display: none;
  @include tablet {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    align-items: center;
    @include font(500, 14, 1.14, 0.02);
    color: var(--title-text-color);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &.active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: var(--accent-text-color);
      border-radius: 2px;
    }
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
}

.contacts {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  @include desktop {
    flex-direction: row;
    gap: 30px;
  }
  margin-left: auto;
  &__item {
    @include desktop {
      align-items: center;
    }
  }
  &__email,
  &__tel {
    @include tablet {
      @include font(500, 12, 1.14, 0.02);
    }
    @include desktop {
      @include font(500, 14, 1.14, 0.02);
    }
    color: #757575;
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__email-icon,
  &__tel-icon {
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
  }
}

.contacts__email:hover,
.contacts__email:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-text-color);
}

.menu-open {
  @include tablet {
    display: none;
  }
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.menu-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--prinary-white-color);
  top: 0;
  position: fixed;
  z-index: 1;
  padding: 48px 40px;
  > .mob-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.mob-menu-nav {
  margin-bottom: 32px;
}

.mob-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-nav__link {
  @include font(500, 40, 1.18, 0.02);
  color: var(--title-text-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.active {
  color: var(--accent-text-color);
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__tel {
  @include font(500, 34, 1.17, 0.02);
  color: var(--accent-text-color);
}

.mob-menu-contacts__email {
  @include font(500, 24, 1.17, 0.02);
  color: var(--primary-text-color);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.mob-soc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
}

.mob-soc__item:not(:first-child)::before {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-soc__link {
  @include font(500, 18, 1.22, 0.02);
  color: var(--accent-text-color);
  padding-left: 10px;
}
