.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  &__title {
    @include font(900, 44, 1.36, 0.06);
    text-align: center;
    text-transform: uppercase;
    color: var(--prinary-white-color);
    margin-bottom: 30px;
  }
  &__btn {
    width: 216px;
    margin: 0 auto;
    display: block;
  }
}
