.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &__title {
    @include font(900, 26, 1.62, 0.06);
    @media screen and (min-width: 1200px) {
      @include font(900, 44, 1.36, 0.06);
    }
    text-align: center;
    text-transform: uppercase;
    color: var(--prinary-white-color);
    margin-bottom: 30px;
  }
  &__btn {
    margin: 0 auto;
    display: block;
  }
}
