.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  &__item {
    background-color: var(--prinary-white-color);
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &__wrap {
    position: relative;
    overflow: hidden;
  }
  &__text {
    padding: 63px 24px;
    position: absolute;
    top: 0;
    @include font(null, 18, 1.56, 0.03);
    color: var(--prinary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }
}

.portfolio-examples__item:hover .portfolio-examples__text {
  transform: translateY(0);
}

.portfolio-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid var(--border-portf-color);
  border-right: 1px solid var(--border-portf-color);
  border-left: 1px solid var(--border-portf-color);
  &__title {
    @include font(700, 18, 2, 0.06);
    color: var(--title-text-color);
  }
  &__name {
    @include font(null, 16, 1.88, 0.03);
  }
}
