.team-section {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  @include desktop {
    display: flex;
  }
  &__member {
    width: 100%;
    @include tablet {
      @include calc(2, 30px);
    }
    @include desktop {
      width: 270px;
      @include calc(4, 30px);
    }
    background-color: var(--prinary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  &__name {
    @include font(500, 16, 1.17, 0.03);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }
  &__jobtitle {
    @include font(null, 16, 1.17, 0.03);
    text-align: center;
    color: var(--primary-text-color);
  }
}

.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  &:last-child {
    padding-right: 0;
  }
  &__shape {
    padding-right: 10px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--icons-color);
    border-radius: 50%;
    transition: background-color 250ms linear, fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--prinary-white-color);
      background-color: var(--accent-text-color);
    }
  }
}
