.team-section {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  &__member {
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      margin-bottom: 0;
      margin-right: 30px;
      &:nth-child(2n) {
        margin-right: 30px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    background-color: var(--prinary-white-color);
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:nth-child(4n) {
      margin-bottom: 0;
    }
  }
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  &__name {
    @include font(500, 16, 1.17, 0.03);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }
  &__jobtitle {
    @include font(null, 16, 1.17, 0.03);
    text-align: center;
    color: var(--primary-text-color);
  }
}

.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  &:last-child {
    padding-right: 0;
  }
  &__shape {
    padding-right: 10px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--icons-color);
    border-radius: 50%;
    transition: background-color 250ms linear, fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--prinary-white-color);
      background-color: var(--accent-text-color);
    }
  }
}
